.footer {
  background: #121826;
  color: white;
  padding: 50px 10% 20px;
  text-align: center;
   /* position: fixed;
   bottom: 0px;
   left: 128px;
    right: 128px; */
  
  /* background-color: transparent; */
}

.footer-content {
  max-width: 800px;
  margin: auto;
}

.footer h2 {
  font-size: 28px;
  margin-bottom: 15px;
  color: rgb(255, 95, 122);
}

.footer-content > p {
  color: #b8b8b8;
  line-height: 1.6;
}

.footer-links {
  display: flex;
  justify-content: center;
  gap: 25px;
  margin: 25px 0;
}

.footer-links a {
  color: white;
  text-decoration: none;
  transition: 0.3s;
}

.footer-links a:hover {
  color: rgb(255, 95, 122);
  transform: translateY(-3px);
}

.footer hr {
  border: none;
  border-top: 1px solid #333;
  margin: 25px 0;
}

.copyright {
  font-size: 14px;
  /* color: #888 !important; */
  color: rgb(255, 95, 122) !important;
}